
div.quote{
    width: 100%;
    max-width: 960px;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    margin:0 auto 10px;
    background-color: #ffffff;
    
}
div.text {
    padding: 4px;
}
div.date{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #555;
    background-color: #EEEEEE;
    padding: 2px;
}


#corner{
    border-top: 1px solid #DEDEDE;
    border-left: 1px solid #DEDEDE;
    border-top-left-radius: 10px;
    padding-left: 5px;
    position: fixed;
    bottom:0;
    right: 0;
    font-size: 200%;
    background-color: #ffffff;
}




/* Colormation, mega copypasted. such borrow from learning page, mega neat, wow.*/
body{
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 20s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}


@keyframes example {
    0%   {background-color:pink;}
    25%  {background-color:yellow;}
    75%  {background-color:green;}
    100% {background-color:pink;}
}